bg-color = #CCC

body
  background bg-color
  font-family "Helvetica"
  text-align center

h1, h2, h3, h4, h5
  line-height normal
  margin 0
  padding 0

h1
  font-size 40px
h2
  font-size 35px
h3
  font-size 30px
h4
  font-size 25px
h5
  font-size 20px

a
  text-decoration none
  color black

a:link{}

a:visited{}

a:hover
  color blue

a:active{}


